---
layout: default
title: "Les catégories"
permalink: /category/index.html
---
 

<div class="article">
  <div class="well">
    <h2>Les catégories</h2>
    </div>
</div>

{% assign my_categories = "" | split: ", " %}
{% for post in site.documents %}
   {% assign my_categories = my_categories | concat: post.categories %}
            
{% endfor %}

{% assign my_categories = my_categories | sort | uniq %}

{% for category in my_categories  %}
<div class="article">
  <div class="well">
    <h3 id="{{ category | slugify }}">{{ category }}</h3>
    <ul class="post-list">
        {% for post in site.documents %}
            {% for post_category in post.categories %}
            {% if post.title != null  and post_category == category %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }} - <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%m/%d/%Y" }}</time></a></li>
            {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>
</div>
{% endfor %}
