---
layout: default
---

<div class="article">
  <div class="well">
    <h1>Introduction</h1>
    Ce site contient des articles techniques sur l'informatique, notamment sur GNU/Linux, le logiciel libre en général ou sur la supervision (SNMP/Centreon). Il est réparti en 2 catégories :
    <ul>
        <li>mes "notes pour plus tard" : des éléments que je note pour pouvoir m'y référer par la suite. Notamment, sur des sujets complexes. Au lieu de rechercher dans la documentation, j'ai noté rapidement ce que je voulais retenir, généralement avec un cas d'usage.</li>
        <li>des "articles de blog" : là, ce sont des articles plus écrits, plus réfléchis. Ils ont généralement une introduction, une mise en contexte et ensuite un déroulement.</li>
    </ul>
  </div>
</div>



<div class="article">
  <div class="well">
    <h1>Mes "notes pour plus tard"</h1>
    <ul class="twocolumns">
	<li>Outils / ligne de commande : 
            <ul>
                        <li><a href="/notes-pour-plus-tard/BASH-scripting-avance/">BASH</a></li>
                        <li><a href="/notes-pour-plus-tard/ls-pour-lister-les-fichiers-et-dossiers/">ls</a></li>
                        <li><a href="/notes-pour-plus-tard/date-commande-pour-travailler-sur-les-dates/">date</a></li>
                        <li><a href="/notes-pour-plus-tard/dd-pour-generer-des-fichiers-ou-graver-une-ISO-sur-une-cle-USB/">dd</a></li>
                        <li><a href="/notes-pour-plus-tard/find-recherche-de-fichiers/">find</a></li>
                        <li>sed</li>
                        <li>ssh</li>
                        <li><a href="/notes-pour-plus-tard/TAR-archivage-et-desarchivage-de-donnees/">tar</a></li>
                        <li><a href="/notes-pour-plus-tard/tmux-points-a-retenir/">tmux</a></li>
                        <li><a href="/notes-pour-plus-tard/libxml2-jouer-avec-le-XML-en-ligne-de-commande/">xmllint (libxml2)</a></li>
                        <li><a href="/notes-pour-plus-tard/GZIP-compression-de-fichiers/">gzip/gunzip</a>, <a href="/notes-pour-plus-tard/BZIP2-compression-de-fichiers/">bzip2/bunzip2</a>, <a href="/notes-pour-plus-tard/zip-et-unzip-archives-compressees/">zip/unzip</a></li>
                        <li>vim</li>
                        <li><a href="/notes-pour-plus-tard/ImageMagick-utilisation-de-convert/">ImageMagick convert</a>, <a href="/notes-pour-plus-tard/ImageMagick-utilisation-de-identify/">ImageMagick identify</a></li>
                        <li><a href="/notes-pour-plus-tard/FFMPEG-encoder-ses-videos-avec-une-bonne-qualite/">FFMPEG</a></li>
		</ul> <!-- OUTILS -->
        </li><!-- OUTILS -->
	<li>Système :
                <ul>
                        <li><a href="/notes-pour-plus-tard/etc-network-interfaces/">/etc/network/interfaces</a></li>
                        <li><a href="/notes-pour-plus-tard/etc-resolv-conf/">/etc/resolv.conf</a></li>
                        <li><a href="/notes-pour-plus-tard/etc-fstab-configuration-des-points-de-montage/">/etc/fstab</a></li>
                        <li><a href="/notes-pour-plus-tard/systemd-systemctl-gestion-des-services-sur-GNU-Linux/">systemd/systemctl</a></li>
                        <li>Apache</li>
                        <li>NGinx</li>
                        <li>MySQL</li>
		</ul> <!-- SYSTEME -->
	</li> <!-- SYSTEME -->
	
	<li>Amazon Web Services (AWS)
                <ul>
                        <li>AWS CLI</li>
                        <li>Développement Python</li>
                </ul>
	</li> <!-- AWS -->
	
        <li>Réseaux :
                <ul>
                        <li><a href="/notes-pour-plus-tard/ip-commande-de-configuration-du-reseau-sur-GNULinux/">commande ip : pour configurer le réseau sur GNU/Linux</a></li>
                        <li><a href="/notes-pour-plus-tard/tcpdump-informations-essentielles/">tcpdump</a></li>
                        <li><a href="/notes-pour-plus-tard/etc-network-interfaces/">/etc/network/interfaces</a></li>
                        <li><a href="/notes-pour-plus-tard/ipv4-informations-essentielles/">IPv4</a> et <a href="/notes-pour-plus-tard/ipcalc-calcul-sur-des-adresses-IPv4/">ipcalc</a></li>
                        <li><a href="/notes-pour-plus-tard/ipv6-informations-essentielles/">IPv6</a> et <a href="/notes-pour-plus-tard/ipv6calc-calcul-sur-des-adresses-IPv6/">ipv6calc</a></li>
                </ul> <!-- Réseaux -->
        </li><!-- Réseaux -->

        <li>DEV :
                <ul>
                        <li><a href="/notes-pour-plus-tard/GIT-gestion-de-version-decentralise/">GIT</a></li>
                        <li><a href="/notes-pour-plus-tard/JQ-outil-de-parsing-et-d-analyse-de-json">JQ</a></li>
                        <li><a href="/notes-pour-plus-tard/ElasticSearch-utilisation-de-l-API-par-un-adminSys">ElasticSearch</a></li>
                </ul> <!-- DEV -->
        </li><!-- DEV -->

    </ul>
  </div>
</div>


<div class="article">
  <div class="well">
    <h1>Les articles de blog</h1>
    <ul>
{% for post in paginator.posts %}
        <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%Y/%m/%d" }} - {{ post.title }}</a></li>
{% endfor %}
    </ul>
  </div>
</div>


<div class="article">
  <div class="well">
    <h1>Les catégories</h1>
    <ul>
{% for i in site.categories %}
        <li><a class="about" href="/category/#{{ i[0] | slugify }}">{{ i[0] }}</a></li>
{% endfor %}
    </ul>
  </div>
</div>


<div class="article">
  <div class="well">
    <h1>Les tags</h1>
    <ul>
{% for i in site.tags %}
        <li><a class="about" href="/tags/#{{ i[0] | slugify }}">{{ i[0] }}</a></li>
{% endfor %}
    </ul>
  </div>
</div>
