---
layout: default
title: "Les tags"
permalink: /tags/index.html
---
 

<div class="article">
  <div class="well">
    <h2>Les tags</h2>
    </div>
</div>

{% assign my_tags = "" | split: ", " %}
{% for post in site.documents %}
   {% assign my_tags = my_tags | concat: post.tags %}
            
{% endfor %}

{% assign my_tags = my_tags | sort | uniq %}

{% assign my_documents = site.documents | reverse %}
        
{% for tag in my_tags  %}
<div class="article">
  <div class="well">
    <h3 id="{{ tag | slugify }}">{{ tag }}</h3>
    <ul class="post-list">
        {% for post in my_documents %}
            {% for post_tag in post.tags %}
            {% if post.title != null and post_tag == tag %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} - <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time></a></li>
            {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
</div>
</div>
{% endfor %}
